.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  select,
  input,
  textarea {
    padding: 1rem;
    resize: none;
    font-size: 1.5rem;
    border: 1.5px solid #376bfa;
    background-color: #376bfa18;
    border-radius: 4px;
    &:focus {
      box-shadow: 0 0 0px 3px #376bfa6f;
      outline: none;
    }
    &::placeholder {
      color: #000000a5;
      font-size: 1.6rem;
    }
  }
  textarea {
    min-height: 15rem;
  }
  button {
    border: none;
    padding: 1rem;
    border-radius: 4px;
    background-color: #4dabf7;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #fff;
  }
}



// "#38d9a9",
//       "#66d9e8",
//       "#91a7ff",
//       "#ffc078",
//       "#2b8a3e",
//       "#ffd43b",
