.board {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-width: 100vh;
  &__title {
    background-color: #5fbaff;
    padding: 1rem;
    text-align: center;
    color: #000;
  }
  &__notes {
    display: flex;
    flex-direction: column;

  }
}
.addNewNote {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid #3c00ff;
  border-radius: 4px;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
  background-color: #3c00ff69;
}
